---
pagination:
  data: collections.postsByCategory
  size: 1
  addAllPagesToCollections: true
permalink: "/blog/category/{{ pagination.items[0] }}/index.html"
layout: layouts/base.njk
eleventyComputed:
  title: "{{ collections.postsByCategory[pagination.items[0]].name }} Posts"
---
<section class="content-section-boxed content-section-top-margin">
    <h1 class="section-title">Posts in "{{ collections.postsByCategory[pagination.items[0]].name }}"</h1>
    <div class="section-underline"></div>
    
    <p class="category-page-back-link">
        <a href="{{ '/blog' | url }}" class="category-page-back-link">← Back to All Posts</a>
    </p>
    
    <ul>
        {%- for post in collections.postsByCategory[pagination.items[0]].posts -%}
            <li class="blog-post-item">
                <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                <p class="blog-post-date"><em>{{ post.date | date('LLLL d, yyyy') }}</em></p>
                {% if post.data.categories %}
                    <div class="blog-post-categories">
                        {% for category in post.data.categories %}
                            <a href="{{ ('/blog/category/' + (category | slugify) + '/') | url }}" class="category-tag">{{ category }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </li>
        {%- endfor -%}
    </ul>
    
    <p class="category-post-count">
        <strong>{{ collections.postsByCategory[pagination.items[0]].posts.length }}</strong> post{% if collections.postsByCategory[pagination.items[0]].posts.length != 1 %}s{% endif %} in this category
    </p>
</section>
