---
pagination:
  data: collections.postsByCategory
  size: 1
  addAllPagesToCollections: true
permalink: "/blog/category/{{ pagination.items[0] }}/index.html"
layout: layouts/base.njk
eleventyComputed:
  title: "{{ collections.postsByCategory[pagination.items[0]].name }} Posts"
---
<section class="content-section-boxed content-section-top-margin">
    <h1 class="section-title">Posts in "{{ collections.postsByCategory[pagination.items[0]].name }}"</h1>
    <div class="section-underline"></div>
    
    <h2 class="category-post-count-header">{{ collections.postsByCategory[pagination.items[0]].posts.length }} post{% if collections.postsByCategory[pagination.items[0]].posts.length != 1 %}s{% endif %} in {{ collections.postsByCategory[pagination.items[0]].name }}</h2>
    
    <p class="category-page-back-link">
        <a href="{{ '/blog' | url }}" class="category-page-back-link">← Back to All Posts</a>
    </p>
    
    <div class="blog-post-list">
        {%- for post in collections.postsByCategory[pagination.items[0]].posts -%}
            <article class="blog-post-card">
                <h2 class="blog-post-title">
                    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                </h2>
                {% if post.data.categories %}
                    <div class="blog-post-categories">
                        {% for category in post.data.categories %}
                            <a href="{{ ('/blog/category/' + (category | slugify) + '/') | url }}" class="category-tag">{{ category }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if post.data.excerpt %}
                    <p class="blog-post-excerpt">{{ post.data.excerpt }}</p>
                {% else %}
                    <p class="blog-post-excerpt">{{ post.content | blogExcerpt(300) }}</p>
                {% endif %}
                <p class="blog-post-date"><em>Published: {{ post.date | date('LLLL d, yyyy') }}</em></p>
            </article>
        {%- endfor -%}
    </div>
</section>
