---
layout: layouts/base.njk
title: Blog
permalink: /blog/index.html
---
{% from "partials/blog-card.njk" import blogCard %}
<section class="content-section-boxed content-section-top-margin">
    <h1 class="section-title">Blog Posts</h1>
    <div class="section-underline"></div>
    <div class="blog-post-list">
        {# PERFORMANCE: Pass loop index to reduce slug calculations #}
        {%- for post in collections.allPosts -%}
            {{ blogCard(post, loop.index0) }}
        {%- endfor -%}
    </div>
</section>
