---
layout: layouts/base.njk
title: Search
permalink: /search/
---

<section class="content-section-boxed content-section-top-margin">
    <h1 class="section-title">Search</h1>
    <div class="section-underline"></div>
    
    <div id="search"></div>
</section>
