---
layout: layouts/base.njk
title: "CFWheels Series"
description: "Comprehensive tutorial series on ColdFusion on Wheels framework development."
permalink: /wheels-series/
---

<section class="content-section-boxed content-section-top-margin" data-pagefind-body>
    <h1 class="section-title">CFWheels Series</h1>
    <div class="section-underline"></div>
    <p class="section-description">A comprehensive tutorial series covering ColdFusion on Wheels framework development, from basics to advanced topics.</p>

    <div class="blog-post-list">
        <div class="blog-post-card">
            <div class="blog-post-content">
                <p>This <a href="http://cfwheels.org/">Wheels</a> series is heavily borrowed from <a href="http://www.nodans.com/">Dan Wilson</a>'s "So You Want to" series about <a href="http://www.model-glue.com/">Model Glue</a>:Unity. We will create an application to manage contacts starting from scratch.</p>
                <ul>
                    <li><a href="/so-you-want-to-install-cfwheels">So you want to install CFWheels?</a></li>
                    <li><a href="/so-you-want-to-create-a-cfwheels-application-part-1">So you want to create a CFWheels application? ( Part 1 )</a></li>
                    <li><a href="/so-you-want-to-create-a-cfwheels-application-part-2">So you want to create a CFWheels application? ( Part 2 )</a></li>
                    <li><a href="/so-you-want-to-create-a-cfwheels-application-part-3">So you want to create a CFWheels application? ( Part 3 )</a></li>
                    <li><a href="/so-you-want-to-create-a-cfwheels-application-part-4">So you want to create a CFWheels application? ( Part 4 )</a></li>
                    <li><a href="/so-you-want-to-create-a-cfwheels-application-5">So you want to create a CFWheels application? (Part 5)</a></li>
                    <li><a href="/so-you-want-to-create-a-cfwheels-application-part-6">So you want to create a CFWheels application? (Part 6)</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
