{% macro navLinks() %}
    <li><a href="{{ '/' | url }}"><i class="ph ph-house" aria-hidden="true"></i><span>Home</span></a></li>
    <li><a href="{{ '/' | url }}#about"><i class="ph ph-user" aria-hidden="true"></i><span>About</span></a></li>
    <li><a href="{{ '/' | url }}#writing"><i class="ph ph-code" aria-hidden="true"></i><span>Writing</span></a></li>
    <li><a href="{{ '/' | url }}#career"><i class="ph ph-briefcase" aria-hidden="true"></i><span>Career</span></a></li>
    <li><a href="{{ '/' | url }}#contact"><i class="ph ph-envelope" aria-hidden="true"></i><span>Contact</span></a></li>
    <li class="nav-dropdown">
        <button type="button" class="dropdown-toggle" aria-expanded="false" aria-haspopup="true">
            <i class="ph ph-pen-nib" aria-hidden="true"></i>
            <span>Writing</span>
            <i class="ph ph-caret-down dropdown-arrow" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a href="{{ '/blog/' | url }}"><i class="ph ph-article" aria-hidden="true"></i><span>Blog</span></a></li>
            <li><a href="{{ '/articles/' | url }}"><i class="ph ph-newspaper" aria-hidden="true"></i><span>Articles</span></a></li>
            <li><a href="{{ '/presentations/' | url }}"><i class="ph ph-chalkboard" aria-hidden="true"></i><span>Presentations</span></a></li>
            <li><a href="{{ '/wheels-series/' | url }}"><i class="ph ph-gear" aria-hidden="true"></i><span>Wheels Series</span></a></li>
        </ul>
    </li>
    <li><a href="{{ '/search/' | url }}"><i class="ph ph-magnifying-glass" aria-hidden="true"></i><span>Search</span></a></li>
{% endmacro %}

{% macro footerLinks() %}
    <a href="{{ '/' | url }}" class="footer-link">Home</a>
    <span class="footer-separator" aria-hidden="true">•</span>
    <a href="{{ '/' | url }}#about" class="footer-link">About</a>
    <span class="footer-separator" aria-hidden="true">•</span>
    <a href="{{ '/' | url }}#writing" class="footer-link">Writing</a>
    <span class="footer-separator" aria-hidden="true">•</span>
    <a href="{{ '/' | url }}#career" class="footer-link">Career</a>
    <span class="footer-separator" aria-hidden="true">•</span>
    <a href="{{ '/blog/' | url }}" class="footer-link">Blog</a>
    <span class="footer-separator" aria-hidden="true">•</span>
    <a href="{{ '/articles/' | url }}" class="footer-link">Articles</a>
    <span class="footer-separator" aria-hidden="true">•</span>
    <a href="{{ '/presentations/' | url }}" class="footer-link">Presentations</a>
    <span class="footer-separator" aria-hidden="true">•</span>
    <a href="{{ '/wheels-series/' | url }}" class="footer-link">Wheels Series</a>
    <span class="footer-separator" aria-hidden="true">•</span>
    <a href="{{ '/' | url }}#contact" class="footer-link">Contact</a>
    <span class="footer-separator" aria-hidden="true">•</span>
    <a href="{{ '/search/' | url }}" class="footer-link">Search</a>
    <br />
    <br />
{% endmacro %}
