{% macro navLinks() %}
    <li><a href="{{ '/' | url }}">Home</a></li>
    <li><a href="{{ '/' | url }}#about">About</a></li>
    <li class="nav-dropdown">
        <button type="button" class="dropdown-toggle" aria-expanded="false" aria-haspopup="true">
            <span>Writing</span>
            <i class="ph ph-caret-down dropdown-arrow" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a href="{{ '/blog/' | url }}"><i class="ph ph-article" aria-hidden="true"></i><span>Blog</span></a></li>
            <li><a href="{{ '/articles/' | url }}"><i class="ph ph-newspaper" aria-hidden="true"></i><span>Articles</span></a></li>
            <li><a href="{{ '/presentations/' | url }}"><i class="ph ph-chalkboard" aria-hidden="true"></i><span>Presentations</span></a></li>
            <li><a href="{{ '/wheels-series/' | url }}"><i class="ph ph-gear" aria-hidden="true"></i><span>Wheels Series</span></a></li>
        </ul>
    </li>
    <li><a href="{{ '/' | url }}#career">Career</a></li>
    <li><a href="{{ '/' | url }}#contact">Contact</a></li>
    <li><a href="{{ '/search/' | url }}">Search</a></li>
{% endmacro %}

{% macro footerLinks() %}
    <a href="{{ '/' | url }}" class="footer-link">Home</a>
    <span class="footer-separator" aria-hidden="true">•</span>
    <a href="{{ '/' | url }}#about" class="footer-link">About</a>
    <span class="footer-separator" aria-hidden="true">•</span>
    <a href="{{ '/' | url }}#career" class="footer-link">Career</a>
    <span class="footer-separator" aria-hidden="true">•</span>
    <a href="{{ '/blog/' | url }}" class="footer-link">Blog</a>
    <span class="footer-separator" aria-hidden="true">•</span>
    <a href="{{ '/' | url }}#contact" class="footer-link">Contact</a>
{% endmacro %}
