{% from "partials/category-tags.njk" import categoryTags %}
{% from "partials/publish-date.njk" import publishDate %}
{% from "partials/blog-excerpt.njk" import blogExcerpt %}

{% macro blogCard(post) %}
<article class="blog-post-card">
    <h2 class="blog-post-title">
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h2>
    {{ categoryTags(post.data.categories) }}
    {{ blogExcerpt(post) }}
    {{ publishDate(post.date) }}
</article>
{% endmacro %}
