{% macro categoryTags(categories) %}
{% if categories %}
    <div class="blog-post-categories" data-pagefind-meta="categories:{{ categories | join(', ') }}">
        {% for category in categories %}
            <a href="{{ ('/blog/category/' + (category | slugify) + '/') | url }}" class="category-tag">{{ category }}</a>
        {% endfor %}
    </div>
{% endif %}
{% endmacro %}
