{% macro categoryTags(categories) %}
{% if categories %}
    <div class="blog-post-categories">
        {% for category in categories %}
            <a href="{{ ('/blog/category/' + (category | slugify) + '/') | url }}" class="category-tag" data-pagefind-meta="category">{{ category }}</a>
        {% endfor %}
    </div>
{% endif %}
{% endmacro %}
